<html>

<head>测试test</head>

<body>
    <span>撸啊撸</span>
    <a href='<t:app type="url"></t:app>'>
        <t:app type="AppName"></t:app>
    </a>

    <t:channel channelname='test'>
        <t:channel type='Id'></t:channel>
        <t:channel type='Code'></t:channel>
    </t:channel>
    
    <br/>123123
    ====
    
    <t:channels channelname='首页' scope='all'>
        <t:channel type='Code'></t:channel>
    </t:channels>

    <t:contents channelname='test' scope='all'>
        <t:content type='Title'></t:content>
        <t:content type='ContentText'></t:content>
    </t:contents>
</body>

</html>